<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>
<div class="container">
    <h1 class="mt-4 mb-3"><%= pergunta.titulo %></h1>
    <hr>
    <p class="mt-4 mb-4"><%= pergunta.descricao %></p>
    <hr>
    <form>
        <h3 class="mt-4 mb-3">Resposta</h3>
        <textarea placeholder="Digite sua resposta" class="form-control mt-3 mb-3" name="corpo"></textarea>
        <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
        <button type="submit" class="btn btn-primary">Responder</button>
    </form>
</div>
</body>
<%- include('partials/footer') %>